body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  background: linear-gradient(270deg, #d20000, #004261) no-repeat center center fixed;
  background-size: 250% 250%;
  -webkit-animation: bgcolor 10s ease infinite;
  -moz-animation: bgcolor 10s ease infinite;
  animation: bgcolor 10s ease infinite;
  padding-top: 6em;
  backface-visibility: hidden;
}

p, h1, h2, h3, a {
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
}

@-webkit-keyframes bgcolor {
  0% {
    background-position: 14% 0%
  }

  50% {
    background-position: 87% 100%
  }

  100% {
    background-position: 14% 0%
  }
}

@-moz-keyframes bgcolor {
  0% {
    background-position: 14% 0%
  }

  50% {
    background-position: 87% 100%
  }

  100% {
    background-position: 14% 0%
  }
}

@keyframes bgcolor {
  0% {
    background-position: 14% 0%
  }

  50% {
    background-position: 87% 100%
  }

  100% {
    background-position: 14% 0%
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  transition: opacity 1s;
  z-index: 2;
}

#navbar {
  width: 100%;
  position:fixed;
  opacity: 0;
  background-color: black;
  z-index: 0;
}

.white-bg {
  background-color: rgba(0, 0, 0, 0.774);
  opacity: 0;
  /* fade in animation */
  padding-bottom: 20px;
  transition: opacity 1s;
}

.navbar>a {
  padding: 3em;
  text-decoration: none;
}

.navbar a:hover {
  color: white;
}

.sticky {
  text-align: center;
  position: -webkit-sticky;
  position: sticky;
  top: 2em;
}

#main>p {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#main {
  padding-bottom: 2em;
  padding-top: 0;
}

#pp1 {
  position: relative;
  display: block;
  width: 25%;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  -webkit-box-shadow: 15px 15px 17px -11px rgba(0, 0, 0, 0.09);
  -moz-box-shadow: 15px 15px 17px -11px rgba(0, 0, 0, 0.09);
  box-shadow: 15px 15px 17px -11px rgba(0, 0, 0, 0.09);
  border-width: 0.5em;
  border-color: rgba(255, 255, 255, 0.05);
  border-style: solid;
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.projects {
  margin: 5em 5em 5em 5em;
}

.grid-item {
  display: grid;
  grid-template-columns: 60% 40%;
  align-items: center;
  justify-items: center;
  margin-top: 5em;
}

.project-image-container {
  width: 50%;
}

.project-image {
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  width: 100%;
}

.grid-item-asset > img {
  -webkit-box-shadow: 15px 15px 17px -11px rgba(0, 0, 0, 0.09);
  -moz-box-shadow: 15px 15px 17px -11px rgba(0, 0, 0, 0.09);
  box-shadow: 15px 15px 17px -11px rgba(0, 0, 0, 0.09);
}

#progress {
  padding-top: 5em;
}

.footer {
  display: grid;
  justify-items: center;
  align-items: center;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.05);
  height: 10em;
  margin-top: 5em;
  padding: 20px 0 20px 0;
}

.footer>p>a {
  color: white;
  text-decoration: none;
}

hr {
  width: calc(94% - 10em);
  margin-left: 5em;
  -webkit-animation: hr 5s ease normal;
  -moz-animation: hr 5s ease normal;
  animation: hr 5s ease normal;
}

@-webkit-keyframes hr {
  0% {
    width: 0%;
  }
  100% {
    width: calc(94% - 10em);
  }
}

@media only screen and (max-width: 600px) {
  .grid-item {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
  }

  .project-image-container {
    width: 100%;
  }

  .projects {
    margin: 5em 1em 5em 1em;
  }

  .sticky {
    text-align: center;
    position: relative;
  }

  #pp1 {
    width: 50%;
  }

  #main {
    padding: 0;
  }

  h1 {
    padding-bottom: 1em;
  }
}

@media only screen and (max-width: 1200px) {
  hr {
    margin-left: 5em;
    width: calc(72% - 10em)
  }
}
